.clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #00f001;

  font-size: 6rem;
}
.clocker{
  font-family: "Orbitron", sans-serif;
}
.btn{
  font-size: large;
  text-align: center;
  border: 2px solid #00f001;
  background-color: #000;
  color: white;
  position: absolute;
  height: 6vh;
  top: 20%;
  left: 45%;
}